// {{.GoName}} has all fields from {{.ModelsName}}.
type {{.GoName}} struct{
    {{- range .Fields}}
    {{.Name}} {{.Type}}
    {{- end}}
    fetch *Fetch
}

func (c *{{.GoName}})lazy(ds *Fetch, id int) {
    c.fetch = ds
    {{- range .Fields}}
    ds.{{.FetchName}}(id).Lazy(&c.{{.Name}})
    {{- end}}
}

func (c *{{.GoName}})preload(ds *Fetch,  id int) {
    c.fetch = ds
	{{- range .Fields}}
    ds.{{.FetchName}}(id).Preload()
    {{- end}}
}

// TODO: Generate functions for all relations

func (r *Fetch){{.GoName}}(id int) *ValueCollection[{{.GoName}}, *{{.GoName}}]{
	return &ValueCollection[{{.GoName}}, *{{.GoName}}]{
		id: id,
		fetch: r,
	}
}
