
func (r *Fetch) {{.GoName}}({{.Collection}}ID int) *{{.ValueType}} {
	v := &{{.ValueType}}{fetch: r, collection: "{{.Collection}}", id: {{.Collection}}ID, field: "{{.FieldName}}" {{if .Required}},required:true{{end}} }
	r.requested[dskey.Key{Collection: "{{.CollectionName}}", ID: {{.Collection}}ID, Field: "{{.FieldName}}" }] = v
	return v
}
