
{{if eq .TemplateAttr ""}}
	func (r *Request) {{.GoName}}({{.Collection}}ID int) *{{.ValueType}} {
		v := &{{.ValueType}}{request: r}
		r.requested[fmt.Sprintf("{{.FQField}}", {{.Collection}}ID)] = v
		return v
	}
{{else}}
	{{if eq .TemplateAttrType "int"}}
		func (r *Request) {{.GoName}}Tmpl({{.Collection}}ID int) *ValueIDSlice {
			v := &ValueIDSlice{request: r}
			r.requested[fmt.Sprintf("{{ .FQField }}", {{ .Collection }}ID)] = v
			return v
		}
	{{else}}
		func (r *Request) {{.GoName}}Tmpl({{.Collection}}ID int) *ValueStringSlice {
			v := &ValueStringSlice{request: r}
			r.requested[fmt.Sprintf("{{ .FQField }}", {{ .Collection }}ID)] = v
			return v
		}
	{{end}}
	func (r *Request) {{.GoName}}({{.Collection}}ID int, {{.TemplateAttr}} {{.TemplateAttrType}}) *{{.ValueType}} {
			v := &{{.ValueType}}{request: r}
			r.requested[fmt.Sprintf("{{.TemplateFQField}}", {{.Collection}}ID, {{.TemplateAttr}})] = v
			return v
		}
{{end}}
