name: Performance
on: [pull_request]
jobs:
  performance:
    name: Performance
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
        - 6379:6379

    steps:
    - name: Set up Go 1.17
      uses: actions/setup-go@v2.1.4
      with:
        go-version: 1.17
      id: go

    - name: Check out code
      uses: actions/checkout@v2.3.4

    - name: Build autoupdate image
      run: docker build . --tag openslides-autoupdate
      env:
        DOCKER_BUILDKIT: 1

    - name: Start autoupdate
      run: docker run -d --network host --env AUTH=fake openslides-autoupdate

    - name: Build performance
      run: go build ./cmd/performance

    - name: Build fake datastore
      run: go build ./cmd/datastore

    - name: Run performance test
      run: |
        ./datastore < /dev/null &
        ./performance
