name: Check Commands in README.md
on: [pull_request]
jobs:
  readme:
    name: Readme
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
        - 6379:6379

      postgres:
        image: postgres
        env: 
          POSTGRES_USER: openslides
          POSTGRES_PASSWORD: password
          POSTGRES_DB: openslides
        ports:
        - 5432:5432

    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19
      id: go

    - name: Check out code
      uses: actions/checkout@v3

    - name: create secrets
      run: |
        mkdir secrets
        printf "postgres" > secrets/postgres_password
        printf "my_token_key" > secrets/auth_token_key 
        printf "my_cookie_key" > secrets/auth_cookie_key

    - name: Start With golang
      run: |
        go build ./cmd/autoupdate
        export SECRETS_PATH=secrets
        timeout --preserve-status --signal=SIGINT 2s ./autoupdate

    - name: Start With Docker
      run: |
        docker build . --tag openslides-autoupdate
        timeout --preserve-status --signal=SIGINT 5s docker run --network host -v $PWD/secrets:/run/secrets openslides-autoupdate
      env:
        DOCKER_BUILDKIT: 1

    - name: Start With Auto Restart
      run: |
        make build-dev
        timeout --preserve-status --signal=SIGINT 5s docker run --network host --env OPENSLIDES_DEVELOPMENT=true openslides-autoupdate-dev
      env:
        DOCKER_BUILDKIT: 1

    - name: Test With Golang
      run: go test ./...

    - name: Test With With Make
      run: make run-tests
      env:
        DOCKER_BUILDKIT: 1
