name: Check Commands in README.md
on: [pull_request]
jobs:
  readme:
    name: Readme
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis
        ports:
        - 6379:6379

    steps:
    - name: Set up Go 1.17
      uses: actions/setup-go@v2.2.0
      with:
        go-version: 1.17
      id: go

    - name: Check out code
      uses: actions/checkout@v2.4.0

    - name: Start With golang
      run: |
        go build ./cmd/autoupdate
        timeout --preserve-status --signal=SIGINT 2s ./autoupdate

    - name: Start With Docker
      run: |
        docker build . --tag openslides-autoupdate
        printf "my_token_key" > auth_token_key 
        printf "my_cookie_key" > auth_cookie_key
        timeout --preserve-status --signal=SIGINT 5s docker run --network host -v $PWD/auth_token_key:/run/secrets/auth_token_key -v $PWD/auth_cookie_key:/run/secrets/auth_cookie_key openslides-autoupdate
      env:
        DOCKER_BUILDKIT: 1

    - name: Start With Auto Restart
      run: |
        make build-dev
        timeout --preserve-status --signal=SIGINT 5s docker run --network host --env OPENSLIDES_DEVELOPMENT=true openslides-autoupdate-dev
      env:
        DOCKER_BUILDKIT: 1

    - name: Test With Golang
      run: go test ./...

    - name: Test With With Make
      run: make run-tests
      env:
        DOCKER_BUILDKIT: 1
